*{border: 0px;font-weight: normal;}
h1{font-family: 'Josefin Sans', sans-serif;
font-family: 'Sevillana', cursive;
font-size: 60px;
}
body{margin: 0px;}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
}

#logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
#menu{
    display: flex;
    align-items: center;
    justify-content: center;
   

}

#menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
}


#menu  li{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu  a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.conte{
    
    display: flex;
    align-items:center;
    justify-content: left;


    margin-top: 20px;
    width: 300px;
    height: auto;


    

}

.imoveis{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
margin-left: 11px;
width: 800px;
height: 585px;

}
.imoveis img{

    width: 450px;
    height: 340px;
 
    

    
}
h1{font-weight: bold;}
h2{
  font-weight: normal;
    font-size: 20px;
    text-align: center;
   padding: 5px;
}

h3{
    margin: 0px; padding: 10px;
    display: flex;
  margin-left: 10px;
  font-size: 25px;
 
}


#desc ul{
  
    font-size: 17px;
    list-style-type: none;
}
#desc li{
    margin: 0px;
    padding: 0px;
}

.imo{
    margin: 0px;
    padding: 0px;
 
}
 button{
  
    
width: 420px;
margin-left: 14px;
margin-top: 20px;
height: 60px;
    background-color: black;
    color: white;
    font-size: 15px;border: 0px;
 
    cursor: pointer;
}

#conts img{
    width: 320px;
    border-radius: 50%;  
     margin-right: 100px;
   
}
#conts{
    justify-content: center;
   margin-top: 70px;
    display: flex;
   
 

}
.continfo{
  display: flex;
}

h4{
    font-size: 30px;
}

#info p{
    font-size: 20px;
    padding: 0px;

}

h6{
    font-size: 11px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
    
}

.if{
    display: flex;
    align-items: center;
    justify-content: center;
}



* {box-sizing: border-box;border: 0px;}
body {font-family: sans-serif; }
.mySlides {display: none; }
.mySlides img {vertical-align: middle;width: 100%; height: 800px;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.continfo{
    margin-top: 70px;
    display: flex;
  
    justify-content: space-evenly;
}

.infopage{
    width: 900px;
    text-align: left;
}

.infopage ul{
    font-weight: bol;
    display: flex;
    justify-content: left;
    padding-top: 10px;


    list-style-type: none;
}   

.infopage ul li{
   margin-left: 10px;
   
}

.infopage p{
    margin-left: 50px;
}
.infopage button{
 display: flex;
 align-items: center;
 justify-content: center;
 margin-left: 100px;

}

.infopage button a{
text-decoration: none;
list-style-type: none;
}
h5{
    margin-left: 100px;
    color: black;
}

.mar{
    margin-left: 20px;
}

.slideshow{
    display: inline;
    align-items: center;
    justify-content: center;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}



#footercorre{
  margin-top: 614px;
}



@media  (max-width: 430px) {
 
 h1{
  font-size: 50px; 
  justify-content: center;
  align-items: center;
  display: flex;

}
  #logo{
    display: flex;
  align-items: center;
justify-content: center;
width: 100%;


}


#menu{


  margin: 0px;

}

#menu ul{


 padding: 20px;

}

#menu ul li{


 
padding: 10px;


  
}

#slider{
  width: 100%;
  height: 300px;
}
header{
  display: inline;
  width: 100%;
}

.mySlides fade {
  width: 100%;
  height: auto;

}
.mySlides img {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.conte{
  display: inline;
  width: 100%;





}

h2{font-size: 16px; }
.imoveis{
  width: 405px;
 margin-top: 20px;
  padding: 0px;
  height: 570px;
}

.imoveis img{
  width: 405px;
  margin: 0px;
}
.imoveis button{
  width: 380px;
  margin: 0px;
margin-left: 13px; 
}

footer{
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;

}

#conts{
  display: inline;


}
#conts img{
  display: inline;
margin-top: 40px;
justify-content: center;
align-items: center;



}

h4{
  font-size: 25px;
}

#info{
  margin-left: 20px;

}

.continfo{
  display: inline;
}
.infopage{
  display: inline;
  width: 430px;
  margin: 0px;

}

iframe{
  width: 370px;
  margin: 0px;

}

.infopage button{
  width: 370px;
  margin: 0px;


}
.slide{
  width: 430px;

}
.mySlides fade{
width: 230px;
  
}

}

@media  (max-width: 390px) {

.mySlides{
  width: 100%;
}

.imoveis{
  width: 370px;
  height: 560px;
}

.imoveis img{
  width: 370px;

}
.imoveis button{
  width: 320px;
}

}




@media  (max-width: 360px) {
  footer{
    font-size: 12px;
    margin: 0px;
padding: 0px;
width: 360px;
  }



h1{
  display: flex;
  font-size: 40px;
  justify-content: center;
  align-items: center;
}

header{
  width: 360px;

}
.conte{
  display: inline;
  width: 100%;

margin: 0px;
padding: 0px;


}

h2{font-size: 16px;}
.imoveis{
  width: 340px;
  margin-top: 20px;

  padding: 0px;
}

.imoveis img{
  margin: 0px;
padding: 0px;
width: 340px;
  margin: 0px;
}
.imoveis button{
  width: 330px;
  margin-left: 5px;
 
}


.mySlides  img{
  width: 100%;
}



#conts img{
  display: inline;
margin-top: 40px;
justify-content: center;
align-items: center;
width: 240px;


}

h4{
  font-size: 20px;
}

#info p {
  font-size: 12px;
}
#info{
  width: 360px;
}

.slideshow-container{
  width: 340px;
  margin: 0px;
}

.infopage iframe{
  width: 320px;
}
.mar button{
  width: 320px;
}
}

div#slider { overflow: hidden; } /* las imágenes no van a salir del márgen de la pantalla*/
div#slider figure img { width: 20%; float: left; height: 800px;}

div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; /*el movimiento se va a mantener de forma indefinida -infinito-*/
}


/*esta parte del código define el movimiento de las imágenes a la izquierda*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}